satbot/
runs/
venv/
outputs/
saved_models/
prism-master/
satbot-app/ChineseBot/
satbot-app/model/__pycache__/
satbot-app/model/emotion-classifier-distilled/
satbot-app/model/migrations/
satbot-app/model/SS_app/
satbot-app/view/node_modules/
satbot-app/model/backendenv/
SS-new/