satbot/
runs/
venv/
outputs/
saved_models/
prism-master/
ChineseBot/ChineseBot/
ChineseBot/model/__pycache__/
ChineseBot/model/emotion-classifier-distilled/
ChineseBot/model/migrations/
ChineseBot/model/SS/
ChineseBot/view/node_modules/
SS/

